body{
	background-color: #04050d;
}
header{
	color: white;
	font-family: 'Aref Ruqaa Ink', serif;
	font-size: 35px;
	padding-left: 15px;
}

*{
margin: 0;
padding: 0;
}

#sidebar{
   position: fixed;
    width: 25%;
    height: 100%;
    background-color: silver;
    left:-25%;

    
}
#sidebar li{
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
   font-family: 'Aref Ruqaa Ink', serif;
   font-size: 20px;
   list-style: none;
   color: black;
   padding-right: 30px;
}
#sidebar a{
   text-decoration: none;
   color: black;
}

#sidebar li .logo-name{
   font-size:25px ;
   
   font-weight: 20px;
}
#sidebar li input{
   width: 90%;
   border-style: none;
   box-sizing: border-box;
   border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.toggle-btn{
   position: absolute;
   left: 105%;
   top: 15px;

}

.toggle-btn span{
   display: block;
   background-color: white;
   width: 30px;
   height: 5px;
   margin-top: 3px;
}
#sidebar.active{
left: 0;
}
 
form{
	background-color: #9fb394;
	width: 40%;
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 70px;
	border-radius: 30px;
	color: 1px solid black;
	margin-left: 280px;
	margin-top: 45px;
	font-family: 'Aref Ruqaa Ink', serif;
}

form h3{
	text-align: center;
	color: black;
	font-weight: 20px;
	font-size: 30px;
	font-family: 'Aref Ruqaa Ink', serif;
	margin-bottom: 30px;
}

form input{
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
	border-color: grey;
	border-style: 1px solid;
	border-radius: 20px;
	padding-left: 13px;
	margin-bottom: 10px;
}
form button{
	margin-top: 20px;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 30px;

}
form .row .col i{
	font-size: 35px;
	padding-left: 30px;
	margin-bottom: 30px;
	color: #12170f;
}

form .bottom p{
	text-align: center;
}